.top-navbar-section {
    position: relative;
    width: 100%;
    background-color: white;
    padding: 16px 20px;
    position: sticky;
    z-index: 9;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}