@import '../../../style/AllStyles.scss';
.home-header {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #E8F1FF;
    width: 100%;
    height: 100vh;
    .home-header-main-info {
        // background-color: red;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        right: 0;
        padding: 0;
        margin: 0;
        transform: translateY(-50%);
        z-index: 2;
        h1 {
            color: #07003B;
            font-weight: bold;
            font-size: 64px;
            line-height: 66px;
            letter-spacing: 1px;
            width: 50%;
            line-height: 100%;
            @extend %anim;
            @include mQ(992px) {
                width: 70%;
            }
            @include mQ(768px) {
                font-size: 42px;
                width: 100%;
            }
        }
        h4 {
            color: #07003B;
        }
        .wrap-btns {
            width: 100%;
            display: flex;
            @extend %anim;
            button.header-btn {
                background-color: transparent;
                border: 2px solid #2A00A2;
                box-sizing: border-box;
                outline: none;
                color: #2A00A2;
                @extend %anim;
                font-size: 16px;
                font-weight: bolder;
                &:hover {
                    background-color: #2A00A2;
                    color: white;
                }
            }
            @include mQ(768px) {
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
    .shape-one,
    .shape-two,
    .shape-three,
    .shape-four,
    .slider-box {
        position: absolute;
        @extend %anim;
    }
    .shape-one {
        left: 55%;
    }
    .shape-two {
        left: 65%;
        bottom: 0;
    }
    .shape-three {
        right: 0;
        top: 10%;
        @include mQ(768px) {
            top: 0;
        }
    }
    .shape-four {
        right: 0;
        top: 50%;
    }
    .slider-box {
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: red;
    }
}