@import '../../../../style/AllStyles.scss';
.wrap-slick-slider {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    max-width: 350px;
    width: 100%;
    height: 200px;
    .slider-item {
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
        }
    }
    .slick-dots {
        bottom: 20px;
    }
    // .slick-next {
    //     background-color: red;
    //     width: 40px;
    //     height: 40px;
    //     border-radius: 50%;
    //     @extend %center;
    // }
}